.dart_tool/
.packages
.pub/
build/

.idea/
.vscode/
*.iml

*.log

android/local.properties
android/key.properties
**/key.properties
**/*.jks
**/*.keystore

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/ephemeral/

